@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
}
#root {
	overflow: hidden;
}
.home-hero-area {
	background-image: url(/img/home/bg-area.png);
	background-repeat: no-repeat;
	background-position: top right;
}
.icon-rail {
	background-image: url(/img/bg/V7.png);
	background-repeat: no-repeat;
	background-position: 70%;
	height: 300px;
}
.icon-orange {
	background-image: url(./img/bg/group31.png);
	background-repeat: no-repeat;
	background-position: 8%;
	height: 390px;
	bottom: 100px;
	width: 100%;
}
.icon-edge {
	background-image: url(/img/bg/Ell.png);
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
}
.icon-green {
	background-image: url(/img/bg/greencricle.png);
	background-repeat: no-repeat;
	background-position: 94%;
	height: 60px;
	overflow: hidden;
}
.icon-small-dot {
	background-image: url(/img/bg/smallbg.png);
	background-repeat: no-repeat;
	background-position: 94%;
	height: 20px;
	width: 20px;
	overflow: hidden;
}
.icon-group {
	background-image: url(/img/bg/group32.png);
	background-repeat: no-repeat;
	overflow: hidden;
	background-position-y: bottom;
	background-position-x: right;
}
.icon-travel-one {
	background-image: url(/img/png/gtrip.png);
	background-repeat: no-repeat;
	height: 400px;
	width: 500px;
}
.icon-travel-two {
	background-image: url(/img/png/topline.png);
	background-repeat: no-repeat;
	width: 200px;
	height: 95px;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.icon-last {
	background-image: url(/img/png/circlg.png);
	background-repeat: no-repeat;
	width: 300px;
	height: 305px;
}
.active {
	background-color: transparent;
	color: #ff8500;
}
.active svg path {
	stroke: #ff8500;
}
.gray-nine {
	stroke: #909090;
}
.bg-custom {
	background-color: #f1fbf2;
}
.bg-ac-custom {
	background-color: #fff4e7;
}
.dash-card-two {
	background-color: #e9f1fb;
}
.dash-card-two-opa {
	background-color: #f3f8ff;
}
.dash-card-two-text {
	color: #6e7e98;
}
.dash-card-two-stroke {
	stroke: #6e7e98;
	fill: #6e7e98;
}
.dash-card-three {
	background-color: #f5fbe9;
}
.dash-card-three-opa {
	background-color: #f7fff3;
}
.dash-card-three-text {
	color: #89927f;
}
.dash-card-three-stroke {
	stroke: #89927f;
	fill: #89927f;
}
.dash-card-one {
	background-color: #fbe9ef;
}
.dash-card-one-opa {
	background-color: #fff3f7;
}
.dash-card-one-text {
	color: #986e6e;
}
.dash-card-one-stroke {
	stroke: #986e6e;
	fill: #986e6e;
}
.chart-ar {
	width: 396px;
}
.chart-pilar {
	width: 500px;
}
@media (min-width: 768px) {
	.chart-ar {
		width: 800px;
	}
}
